.Event {
  padding: 1rem;
  background-color: $color-grey-light;

  &__heading {
    text-align: center;
    font-size: 2.7rem;
    font-weight: 300;
    color: $color-grey-dark;
    font-family: 'Rum Raisin', sans-serif;

    @media only screen and (max-width: 700px) {
      font-size: 2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
