.Header {
  position: relative;
  z-index: 200;
  padding: 0 7px;

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    &__header {
      display: inline-block;
      display: flex;
      align-items: center;

      .glass-icon {
        font-size: 1.5rem;
        margin: 0 5px;
        color: $color-primary-dark;
      }

      a {
        text-decoration: none;
        font-family: 'Londrina Shadow', cursive;
        font-size: 2.6rem;
        color: $color-primary-dark;
      }
    }

    .search {
      display: flex;
      justify-content: center;
      align-items: center;

      &__input {
        background-color: #f4f2f2;
        font-family: inherit;
        font-size: 0.7rem;
        font-weight: 300;
        width: 0;
        border: none;
        padding: 0.7rem 1.8rem;
        border-radius: 100px;
        transition: all 0.2s ease-in-out;
        margin-right: -1.5rem;

        &:focus {
          width: 100%;
          background-color: #f0eeee;
          outline: none;
        }
      }

      &__icon {
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          transform: rotate(30deg);
          color: $color-primary-dark;
        }
      }
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      //   background-color: #b6b6b6;
      display: flex;
      align-items: center;

      height: 40px;
    }

    .sidenav-icon {
      i {
        cursor: pointer;
        font-size: 2rem;
        margin-right: 5px;
      }
    }

    &__item {
      display: inline-block;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      & a {
        text-decoration: none;
      }
    }
  }
}
