.Header {
  position: relative;
  z-index: 200;
  padding: 0 7px;

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    &__header {
      display: flex;
      align-items: center;

      .glass-icon {
        @media only screen and (max-width: 700px) {
          font-size: 1.2rem;
        }

        &--1 {
          font-size: 1.5rem;
          margin: 0 5px;
          transform: rotate(15deg);
        }

        &--2 {
          font-size: 2rem;
          transform: rotate(-15deg);

          @media only screen and (max-width: 500px) {
            display: none;
          }
        }
      }

      a {
        text-decoration: none;
        font-family: 'Londrina Shadow', cursive;
        font-size: 2.6rem;
        color: $color-primary-dark;
        transition: color 0.3s;

        &:hover {
          color: $color-primary;
        }

        @media only screen and (max-width: 700px) {
          font-size: 2rem;
        }
      }
    }

    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;

      &__input {
        background-color: #f4f2f2;
        font-family: inherit;
        font-size: 0.7rem;
        font-weight: 300;
        width: 35%;
        border: none;
        padding: 0.7rem 1.8rem;
        border-radius: 100px;
        transition: all 0.3s ease-in-out;
        margin-right: -1.5rem;

        &::placeholder {
          opacity: 0;
        }

        &:focus {
          width: 100%;
          background-color: #e6e6e6;
          outline: none;

          &::placeholder {
            opacity: 1;
            text-align: center;
          }
        }
      }

      &__icon {
        cursor: pointer;
        transition: all 0.2s;
        color: $color-grey-dark;

        &:hover {
          transform: rotate(30deg);
          color: $color-primary-dark;
        }
      }
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      //   background-color: #b6b6b6;
      display: flex;
      align-items: center;

      height: 40px;
    }

    .sidenav-icon {
      i {
        cursor: pointer;
        font-size: 2rem;
        margin-right: 5px;
      }
    }

    &__item {
      display: inline-block;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      & a {
        text-decoration: none;
      }
    }
  }
}
