.Landing {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .bg-video {
    margin-top: 7rem;
    position: absolute;
    top: -30px;
    left: 0;

    height: 100%;
    opacity: 0.2;
    overflow: hidden;

    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .header-box {
    @include absCenter;
    text-align: center;

    &__primary {
      font-family: 'Londrina Shadow', cursive;
      font-size: 4rem;
      margin: 10px auto;
    }

    &__secondary {
      text-transform: uppercase;
      letter-spacing: 20px;
      margin-right: -20px;
    }
  }
}
