.Landing {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .bg-video {
    margin-top: 95px;
    position: absolute;
    top: -30px;
    left: 0;

    height: 100%;
    opacity: 0.25;
    overflow: hidden;

    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .header-box {
    @include absCenter;
    text-align: center;

    &__primary {
      font-family: 'Londrina Shadow', cursive;
      font-size: 4.4rem;
      margin: 10px auto;
      background-image: linear-gradient(to right, $color-primary, #a028be);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    &__secondary {
      text-transform: uppercase;
      letter-spacing: 25px;
      margin-right: -25px;
      color: $color-grey-dark;
    }
  }
}
