// variables
$color-primary: #db084e;
$color-primary-light: #f80759;
$color-primary-dark: #bc4e9c;

$color-green-light: #29c081;
$color-green-dark: #2f7a77;

$color-grey-dark: #4e4e4e;

//mixins
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// animations
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
