// variables
$color-primary: #db084e;
$color-primary-light: #f80759;
$color-primary-dark: #bc4e9c;

//mixins
@mixin absCenter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
}
