@import 'abstract';
@import './components/app';
@import './components/header';
@import './components/landing';
@import './components/searchPage';

@import './helpers';

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-image: linear-gradient(
    to right bottom,
    ($color-primary-light),
    ($color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
